<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs')%>
<body>
  <div class="wrapper">
    <%- include ('./partials/formComm.ejs')%>
    <%- include ('./partials/pricePage.ejs')%>
    <%- include ('./partials/header.ejs')%>
    <%- include ('./partials/downloadPrice.ejs')%>
    <%- include ('./partials/main.ejs')%>
    <%- include ('./partials/services.ejs')%>
    <%- include ('./partials/comments.ejs')%>
    <%- include ('./partials/footer.ejs')%>
  </div>
  <div>
    <a class="back_to_top" title="Наверх"></a>
  </div>
  <script src="../js/index.js" type="module"></script>
  <script src="../js/table2excel.js"></script>
  <script src="../js/metrika.js"></script>
</body>

<noscript><div><img src="https://mc.yandex.ru/watch/92872937" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</html>